<body>
    <div align="center" style="max-width:500px;margin:0 auto;">
        <h1>baardew Master Training Data</h1>
        <p align="left">I am writing a Master Thesis where I seek to classify soccer player actions captured from a camera. In simple terms, I attempt to learn the computer to recognize different actions during a match, like running and standing still. To do that, I need to have a set of predefined sequences with joint placements. What I need you to do is to place all of these points on the given images.</p>
		<p align="left">The research is done as a Master Thesis at Simula Research Laboratory and University of Oslo in Norway and the end goal is to be able to generate a freeview application. In order to achieve this, I will classify sequences to obtain predefined skeletons. Then the best matching skeleton is placed on top of the new sequence and 3D reconstruction can be performed, which again can be used to render any 3D freeviewing angle.</p>

		<p align="left">Example video of a plotting result for a single player only:<br/><i>Watch full-screen to get a better view.</i></p>
		<video width="320" height="240" controls>
			<source src="images/exampleVideo.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
</body>
