<h1>baardew Master Training Data</h1>
<p>Welcome to my small site for generating a training set for my thesis.<br />
	In short: I need joint positions of players in the <a href="http://www.iad-center.com/news/bagadus-an-integrated-system-for-arena-sports-analytics">Bagadus</a> system.<br />
	You will be provided with a sequence that represent a single motion, for example standing, running or kicking the ball,<br />
	and images will therefore have a varying degree of motion and body poses.<br />
	In situations where more than one player is within the picture/frame, you are asked to label the centermost red/white player.<br />
	<br />
	<br />
	<a href="detailed.html" target="_blank">Click here if you like to learn more about this project.</a>
	<br/>
	<b style="color:red">NOTE: The video/image quality is intentionally of poor quality; The aim is to be able to work with low-resolution video/images.</b>
	<br/>
	<br/>
	<b>Google Chrome is the only tested and verified browser for this site.</b>
</p>

<div align="left" style="margin-left:150px">
	<h2>Instructions</h2>
	<p>The training process is the same for every frame exception is for the mouse calibration,<br />
		where commit and reset are the only options. At any time you can reset the selection and start over by clicking <i>Reset</i>.<br />
		Sometimes you are asked to click a different set of points,<br />this is in order to calibrate the mismatch between your mouse and the screen and will be explained when to do this.<br />
		In cases where there are more than one player in the image you need only select the centermost, white player.<br /><br /></p>
	<h4>The procedure for each training image is as follows:</h4>

	<p><b>1)</b> Select a bounding box (region) around a player by clicking and dragging the mouse. Make the box as small as possible.<br /><i>If the entire frame is to be selected, skip point <b>(1)</b>.</i> The box can be adjusted by dragging the edges.</p>
	<p><b>2)</b> Click on <i>Apply Selection</i> to use selection.</p>

	<img alt="Manual 1" src="images/Manual_1.png" style="height:425px;border-style:solid;border-width:5px"/>

	<p><b>3)</b> Click the joint position in the image <i>b)</i>, given in the box above the image <i>a)</i>. If you cannot determine the location, click <i>Obscured</i>.<br />
		If you are able to estimate quite accurately the position an obscured joint, feel free to include this instead of marking it as obscured.</p>

	<img alt="Manual 2" src="images/Manual_2.png" style="height:425px;border-style:solid;border-width:5px"/>

	<p><i>The assisting video preview marks your current (large) image with red borders.</i></p>

	<p>Joint definitions to body parts are described here, where the red circles represent valid positions. Dead center is best:</p>
	<img alt="BodyZone" src="images/Manual_BodyZones.png" style="height:425px;border-style:solid;border-width:5px"/>

	<p><b>4)</b> Click the <i>Commit</i> button.</p>
	<p><b>5)</b> Repeat from step <b>(1)</b>.</p>
</div>
