<head>
  <link rel="stylesheet" type="text/css" href="css/imgareaselect-default.css" />
</head>
<body>
  <div align="center">
    <h1>baardew Master Training Data</h1>

    <p id="additional_text"/>

    <div style="padding-bottom:15px">
      <form id="zooms" action="javascript:zoom()" method="post">
        <input type="hidden" name="x1" value="" />
        <input type="hidden" name="y1" value="" />
        <input type="hidden" name="x2" value="" />
        <input type="hidden" name="y2" value="" />
        <input type="submit" name="submit" id="zoom" value="Apply Selection" accesskey="s" />
      </form>

      <a href="server.php"><button type="button" id="newimage" accesskey="a">New Image</button></a>
      <a href="javascript:history.go(0)"><button type="button" id="reset" accesskey="r">Reset</button></a>
      <button type="button" disabled="true" id="undo" onclick="undo()" accesskey="z">Undo</button>
      <button type="button" id="noplayer" onclick="noPlayer()" accesskey="n">No Player</button>
      <button type="button" disabled="true" id="obscured" onclick="obscure()" accesskey="x">Obscured</button>
      <button type="button" disabled="true" id="commit" onclick="commit()" accesskey="c">Commit</button>

      <select id="motion" disabled="true" onchange="motionChanged()">
        <option value="NULL" selected="selected">&lt;Motion&gt;</option>
        <option value="run">Running</option>
        <option value="walk">Walking</option>
        <option value="sprint">Sprinting</option>
        <option value="stand">Standing</option>
        <option value="sidejump">Side-running</option>
        <option value="fall">Falling</option>
        <option value="kick">Kicking</option>
        <option value="tackle">Tackeling</option>
        <option value="heading">Heading</option>
        <option value="throwing">Throw-in</option>
        <option value="other">Other</option>
      </select>

      <select id="players" disabled="true">
        <option value="0">No Players</option>
        <option value="1" selected="selected">1 Player</option>
        <option value="2">2 Players</option>
        <option value="3">3 Players</option>
        <option value="4">4 Players</option>
        <option value="5+">5 or More Players</option>
      </select>
    </div>

    <div style="text-align:center;">
        <video id="previewVideo" width="250" height="250" style="display:inline-block;border-style:solid;border-width:2px;" controls loop muted>Your browser does not support HTML5</video>
        <canvas width="500" height="500" id="canvas" style="display:inline-block;border-style:solid;border-width:2px;">Your browser does not support HTML5</canvas>
        <div style="display:inline-block;position:relative;bottom:8px;border-style:ridge;border-color:blue;border-width:3px;width:300px;padding:5px;">
            <b id="marker"></b>
            <br/>
            <br/>
            <canvas width="250" height="250" id="previewPoint" style="border-style:solid;border-width:2px;">Your browser does not support HTML5</canvas>
        </div>
    </div>

    <p style="clear:both"><b>Hotkeys:</b> (In Chrome hold Alt + hotkey)<br /> x = obsucred, z = undo, s = zoom, c = commit, a = new image, space = play/pause preview and r or F5 = reset<br/><a href="index.php">Read the Manual</a></p>

    <p id="progress_text" style="font-family:Arial;font-size:13"/>;

    <script type="text/javascript" src="scripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.imgareaselect.pack.js"></script>
    <script type="text/javascript" src="scripts/whammy.js"></script>

    <script src="progression.php"></script>
    <script src="imagesequences.php"></script>
    <script type="text/javascript" src="controller.js"></script>
  </div>
</body>
